<ion-header >
  <ion-toolbar color="rose">
    <ion-title>
      Guloseimas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <ion-card>
            <img src="https://th.bing.com/th/id/R8603a014c5515b78f6a71fe9b414921b?rik=Fy4G7VC6B1tEXw&pid=ImgRaw">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Muffin
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-note class="ion-no-padding" slot="end" color="dark">R$ 4.00</ion-note>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://img.cybercook.com.br/receitas/690/brownie-low-carb-com-nozes.jpeg">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            Brownie
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding">
          <ion-note class="ion-no-padding" slot="end" color="dark">R$ 4.00</ion-note>
        </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
            <img src="https://i.pinimg.com/originals/77/81/43/778143b05026a59547e9d382602ab846.png">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Donuts
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-note class="ion-no-padding" slot="end" color="dark">R$ 4.00</ion-note>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://th.bing.com/th/id/R72a3e920dcb82f74718850e73824948c?rik=5CDKbFM2%2f5pT9A&pid=ImgRaw">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            Cookies
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding">
          <ion-note class="ion-no-padding" slot="end" color="dark">R$ 3.00</ion-note>
        </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
            <img src="https://th.bing.com/th/id/R1c9e86679f315aae046ae9228be69e98?rik=JexmCFQO3nzNHg&pid=ImgRaw">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Brioche
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-note class="ion-no-padding" slot="end" color="dark">R$ 2.00</ion-note>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://th.bing.com/th/id/R3e4f513b2584f5aa7f1ee26cc07a4233?rik=GC22yIFQIuSzgQ&pid=ImgRaw">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            Empada
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding">
          <ion-note class="ion-no-padding" slot="end" color="dark">R$ 4.00</ion-note>
        </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
